<div  class="footer text-center text-lg-start text-white" style="background-color: #1c2331"; ;>
      
       
       <div class = "text"> 
            © 2021 Copyright:
        </div>
          <!-- Copyright -->
</div>
</body>
</html>