body{
    overflow: hidden;
    color: #dddddd;
    width: 100%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.img{
    background-image: url("coffee.png");
    background-color: #cccccc;
    height: 500px;
    width: 99%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.list{
    display: grid;
    place-items: left;
}
h1{
    margin: 12% 5px 10px 5px ;
    color: black;    
    float: left;
    
}
li{
    
    text-align: center;
    margin-right: 80% ;
    color: floralwhite;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-shadow:  white 5px;
    

}
table, th, td {
    border: 1px solid black;
    margin:1px;
    
  }
.date {
    margin: 0;

 }
.footer {
    position: fixed;
    bottom: 10px;
    width: 99%;
    background-color: red;
    color: white;
    
 }
 .text{
     text-align: center;
 }
