<%- include ('../partials/header');%>
    
    
    <div class = "img">
        <div class = "list">
            <h1>"Welcome to our schedule website".</h1>
            <ul>
                <li>Users</li>
                <li>Schedules</li>
            </ul>
        </div>
    </div>

    
    
<%- include ('../partials/footer');%>
