<%- include ('../partials/header');%>

<div class = "img" style="height: 300px;">
    <div class = "list">
        <h1 style="margin-top: 10px;">"Welcome to our schedule website".</h1>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href ="users">Users</a></li>
            <li> <a href="schedules">Schedules</a></li>
            <li><a href="usersnew"> User Add</a> </li>
            <li><a href="schedulesnew"> Add Schedule</a> </li>
        </ul>
    </div>
</div>





<form action="/users" method="POST" style="margin: 20px;">
    <div class="form-group" >
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" class="form-control" id="firstname"  placeholder="Enter firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="lastname"  placeholder="Enter Lastname">
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email"  name = "email"class="form-control" id="email"  placeholder="Enter email address">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name = "password"class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <button  type="submit" class="btn btn-primary" style="margin: 10px;">Submit</button>
  </form>


  
<%- include ('../partials/footer');%>